*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:url("/assets/backgrounds/home.jpg");

background-size:cover;

background-position:center;

height:100vh;

overflow:hidden;

font-family:Poppins,sans-serif;

}

.overlay{

position:fixed;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

}

.container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:90%;

text-align:center;

}

.title{

color:white;

font-size:28px;

font-weight:bold;

text-shadow:0 0 20px red;

margin-bottom:15px;

}

.subtitle{

color:white;

font-size:18px;

margin-bottom:40px;

}

.menu{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

width:170px;

height:210px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(10px);

border-radius:25px;

cursor:pointer;

transition:.35s;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}

.card:hover{

transform:scale(1.06);

}

.card img{

width:95px;

margin-bottom:20px;

}

.card span{

font-size:22px;

color:white;

font-weight:bold;

}

#popup{

position:fixed;

bottom:30px;

right:25px;

width:65px;

height:65px;

border-radius:50%;

overflow:hidden;

box-shadow:0 0 20px red;

cursor:pointer;

animation:pulse 2s infinite;

z-index:999;

}

#popup img{

width:100%;

height:100%;

object-fit:cover;

}

@keyframes pulse{

0%{transform:scale(1)}

50%{transform:scale(1.1)}

100%{transform:scale(1)}

}
.playIcon{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:60px;

height:60px;

border-radius:50%;

background:rgba(0,0,0,.6);

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

pointer-events:none;

}

.card{

position:relative;

}